* {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
}

.single {
  height: 40px;
  width: 40px;
  border: 1px solid;
}